NEXT_PUBLIC_CTFD_PUBLIC_BASE=https://u18-2026.haruulzangi.mn
NEXT_PUBLIC_SCOREBOARD_PUBLIC_BASE=https://scoreboard.haruulzangi.mn
NEXT_PUBLIC_SCOREBOARD_API_BASE=https://u18-2026.haruulzangi.mn/api/v1/hzu18
CTFD_ADMIN_API_BASE=https://u18-2026.haruulzangi.mn/api/v1
CTFD_ADMIN_API_KEY=ctfd_example
